 .e_com{
    color: rgb(255, 213, 5);
}
.ul_list{
    list-style-type: none;
}
.main_nav li{
    padding-left: 15px;
    padding-right: 15px;
}
.main_nav li a{
    text-decoration: none;
    color: rgb(255, 213, 5);
}
